@model IEnumerable<Work_01.Models.Book>
@{
    ViewBag.Title = "Index";
}

<div class="row align-items-center col">
    <div class="col-3"><p class="card-text">Date: @DateTime.Now.ToString("dd/MM/yyyy")</p></div>
    <div class="col-6 d-flex justify-content-center"><h3 class="display-6">Books List</h3></div>
    <div class="col-3 d-flex justify-content-end"><p class="card-text">Total Articles: @ViewBag.Count</p></div>
    <hr />
</div>
<div class="d-flex justify-content-end mb-2 col-11" style="margin-left:30px;">
    @Html.ActionLink(" ", "Create", "Books", null, new { @title = "Add new article", @class = "btn btn-sm btn-outline-primary bi bi-plus-lg" })
</div>
<div>
    <table class="table table-striped shadow-sm table-bordered table-sm container">
        <thead class="table-primary">
            <tr>
                <th class="text-center">@Html.DisplayNameFor(x => x.BookId)</th>
                <th class="col-4 text-center">@Html.DisplayNameFor(x => x.Title)</th>
                <th class="text-center">@Html.DisplayNameFor(x => x.Genre)</th>
                <th class="col-2 text-center">@Html.DisplayNameFor(x => x.Price)</th>
                <th class="text-center">Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var books in Model)
            {
                <tr>
                    <td class="text-center">@Html.DisplayFor(x => books.BookId)</td>
                    <td class="text-center">@Html.DisplayFor(x => books.Title)</td>
                    <td class="text-center">@Html.DisplayFor(x => books.Genre)</td>
                    <td class="text-end">@Html.DisplayFor(x => books.Price)</td>
                    <td class="text-center">
                        @Html.ActionLink(" ", "Edit", "Books", new { id = books.BookId }, new { @title = "Edit", @class = "btn btn-sm btn-outline-primary bi bi-pencil-square " })
                        @Html.ActionLink(" ", "Detail", "Books", new { id = books.BookId }, new { @title = "Edit", @class = "btn btn-sm btn-outline-primary bi bi-info-square " })
                        @Html.ActionLink(" ", "Delete", "Books", new { id = books.BookId }, new { @title = "Delete", @class = "btn btn-sm btn-outline-danger bi bi-trash3 " })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section styles {

    <link href="~/Content/icons/font/bootstrap-icons.css" rel="stylesheet" />
}

