@model Work_01.ViewModel.ActorViewModel

@{
    ViewBag.Title = "Delete";
}

<div class="row align-items-center col mb-5">
    <div class="col-3"><p class="card-text">Date: @DateTime.Now.ToString("dd/MM/yyyy")</p></div>
    <div class="col-6 d-flex justify-content-center"><h5 class="display-6">Delete Actor</h5></div>
    <hr />
</div>
<div class="col-11 d-flex justify-content-end mb-5">
    @Html.ActionLink(" ", "Index", "Actors", null, new { @title = "Back to list", @class = "btn btn-sm btn-success bi-arrow-left" })
</div>

@using (Html.BeginForm())
{
    @Html.HiddenFor(x => x.ActorId)
    <div class="row col mb-2 align-items-center offset-2">
        <div class="col-3 text-end">
            @Html.LabelFor(x => x.Name, new { @class = "col-form-label" })
        </div>
        <div class="col-4">
            @Html.DisplayFor(x=> x.Name)
        </div>        
    </div>
    <div class="row col mb-2 align-items-center offset-2">
        <div class="col-3 text-end">
            @Html.LabelFor(x => x.Gender, new { @class = "col-form-label" })
        </div>
        <div class="col-4">
            @Html.DisplayFor(x => x.Gender)
        </div>        
    </div>
    <div class="row col mb-2 align-items-center offset-2">
        <div class="col-3 text-end">
            @Html.LabelFor(x => x.MovieId, new { @class = "col-form-label" })
        </div>
        <div class="col-4">
           @Html.DisplayFor(x=> x.MovieId)
        </div>
    </div>

    <div class="row col mb-2 align-items-center offset-2">
        <div class="col-3 text-end">
            @Html.LabelFor(x => x.Picture, new { @class = "col-form-label" })
        </div>     
        <div class="col-3">
            <img src="~/Uploads/@ViewBag.Pic" class="img-fluid img-row" />
        </div>
    </div>

    <div class="row col mb-2 align-items-center offset-5">
        <div class="col-3 text-center">
            <button type="submit" title="Save to database" class="btn btn-danger">Delete</button>
        </div>
    </div>
}

@section styles {

    <link href="~/Content/icons/font/bootstrap-icons.css" rel="stylesheet" />
    <style>
        .img-row {
            width: 50px;
            height: 50px;
            border: none;
            object-fit: contain;
        }
    </style>
}

