@model Work_01.ViewModel.EmployeeViewModel
@{
    ViewBag.Title = "Edit";
}

<div class="row align-items-center col">
    <div class="col-3"><p class="card-text">Date: @DateTime.Now.ToString("dd/MM/yyyy")</p></div>
    <div class="col-6 d-flex justify-content-center"><h4 class="display-6" style="margin-right: 117px;">Edit Employee</h4></div>
    <hr />
</div>
<div class="col-11 d-flex justify-content-end mb-2">
    @Html.ActionLink(" ", "Index", "Employees", null, new { @title = "Back to list", @class = "btn btn-sm btn-success bi-arrow-left" })
</div>
<div class="col-11 mb-5 d-flex justify-content-center">
    <img src="~/Uploads/@ViewBag.pic" width="100" class="rounded-1" style="object-fit:contain" />
</div>
@using (Html.BeginForm())
{
    @Html.HiddenFor(x => x.EmployeeId)

    <div class="form-group row col-8 offset-3 mb-2">
        <div class="col-2 text-end">
            @Html.LabelFor(x => x.Name, new { @class = "col-from-label" })
        </div>
        <div class="col-4">
            @Html.TextBoxFor(x => x.Name, new { @readonly = true, @class = "form-control" })
        </div>
        
    </div>
    <div class="form-group row col-8 offset-3 mb-2">
        <div class="col-2 text-end">
            @Html.LabelFor(x => x.JoinDate, new { @class = "col-form-label" })
        </div>
        <div class="col-4">
            @Html.TextBoxFor(x => x.JoinDate, new { @readonly = true, @class = "form-control" })
        </div>
       
    </div>

    <div class="form-group row col-8 offset-3 mb-2">
        <div class="col-2 text-end">
            @Html.LabelFor(x => x.Address, new { @class = "col-form-label" })
        </div>
        <div class="col-4">
            @Html.TextAreaFor(x => x.Address, new {@readonly=true, @class = "form-control" })
        </div>
        
    </div>
    <div class="form-group col-2 offset-5" >
        <button type="submit" title="Save to database" class="btn btn-danger">Delete Confirm</button>
    </div>
}

@section styles {

    <link href="~/Content/icons/font/bootstrap-icons.css" rel="stylesheet" />
}



