@model IEnumerable<Work_02.Models.Book>
@{
    ViewBag.Title = "Index";
}

<div class="row">
    <h2>Books</h2>
    <hr/>
</div>

<div class="container">
    <div class="d-flex justify-content-end mb-2">
        @Html.ActionLink("Add new", "Create", "Home", null, new {@class="btn btn-primary"})
    </div>
    <table class="table table-bordered table-striped table-light">
        <thead class="table-primary">
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Author</th>
                <th>Cover Price</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var b in Model)
            {
                <tr>
                    <td>@b.BookId</td>
                    <td>@b.Name</td>
                    <td>@b.Author</td>
                    <td>@b.CoverPrice.ToString("0.00")</td>
                </tr>
            }
        </tbody>
    </table>
</div>

