@model Work_01.Models.Movies
@{
    ViewBag.Title = "Delete";
}


<div class="row align-items-center col">
    <div class="col-3"><p class="card-text">Date: @DateTime.Now.ToString("dd/MM/yyyy")</p></div>
    <div class="col-6 d-flex justify-content-center"><h3 class="display-6">Delete Movie</h3></div>
    <hr />
</div>
<div class="col-11 d-flex justify-content-end mb-2">
    @Html.ActionLink(" ", "Index", "Movies", null, new { @title = "Back to list", @class = "btn btn-sm btn-primary bi-arrow-left" })
</div>

@using (Html.BeginForm())
{
    @Html.HiddenFor(x => x.MovieId)
    <div class="form-group row col-8 offset-3 mb-2">
        <div class="col-3 text-end">
            @Html.LabelFor(x => x.Title, new { @class = "col-form-label" })
        </div>
        <div class="col-4">
            @Html.TextBoxFor(x => x.Title, new {@readonly=true, @class = "form-control" })
        </div>
    </div>
    <div class="form-group row col-8 offset-3 mb-2">
        <div class="col-3 text-end">
            @Html.LabelFor(x => x.ImdbRating, new { @class = "col-form-label" })
        </div>
        <div class="col-4">
            @Html.TextBoxFor(x => x.ImdbRating, new { @readonly = true, @class = "form-control" })
        </div>
        
    </div>
    <div class="form-group row col-8 offset-3 mb-2">
        <div class="col-3 text-end">
            @Html.LabelFor(x => x.RottenTomatoFreshness, new { @class = "col-form-label" })
        </div>
        <div class="col-4">
            @Html.TextBoxFor(x => x.RottenTomatoFreshness, new { @readonly = true, @class = "form-control" })
        </div>
        
    </div>
    <div class="form-group row col-8 offset-3 mb-2">
        <div class="col-3 text-end">
            @Html.LabelFor(x => x.ReleaseDate, new { @class = "col-form-label" })
        </div>
        <div class="col-4">
            @Html.TextBoxFor(x => x.ReleaseDate, new { @readonly = true, @class = "form-control" })
        </div>
        
    </div>
    <div class="form-group col-1 offset-6">
        <button type="submit" title="Save to database" class="btn btn-danger">Delete</button>
    </div>
}

@section styles {

    <link href="~/Content/icons/font/bootstrap-icons.css" rel="stylesheet" />
    
}

