@model Work_01.Models.Movies
@{
    ViewBag.Title = "Edit";
}


<div class="row align-items-center col">
    <div class="col-3"><p class="card-text">Date: @DateTime.Now.ToString("dd/MM/yyyy")</p></div>
    <div class="col-6 d-flex justify-content-center"><h3 class="display-6">Edit Movie</h3></div>
    <hr />
</div>
<div class="col-11 d-flex justify-content-end mb-2">
    @Html.ActionLink(" ", "Index", "Movies", null, new { @title = "Back to list", @class = "btn btn-sm btn-primary bi-arrow-left" })
</div>

@using (Html.BeginForm())
{
    @Html.HiddenFor(x=> x.MovieId)
    <div class="form-group row col-8 offset-3 mb-2">
        <div class="col-3 text-end">
            @Html.LabelFor(x => x.Title, new { @class = "col-form-label" })
        </div>
        <div class="col-4">
            @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })
        </div>
        <div class="col-4">
            @Html.ValidationMessageFor(x => x.Title, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group row col-8 offset-3 mb-2">
        <div class="col-3 text-end">
            @Html.LabelFor(x => x.ImdbRating, new { @class = "col-form-label" })
        </div>
        <div class="col-4">
            @Html.TextBoxFor(x => x.ImdbRating, new { @class = "form-control" })
        </div>
        <div class="col-4">
            @Html.ValidationMessageFor(x => x.ImdbRating, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group row col-8 offset-3 mb-2">
        <div class="col-3 text-end">
            @Html.LabelFor(x => x.RottenTomatoFreshness, new { @class = "col-form-label" })
        </div>
        <div class="col-4">
            @Html.TextBoxFor(x => x.RottenTomatoFreshness, new { @class = "form-control" })
        </div>
        <div class="col-4">
            @Html.ValidationMessageFor(x => x.RottenTomatoFreshness, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group row col-8 offset-3 mb-2">
        <div class="col-3 text-end">
            @Html.LabelFor(x => x.ReleaseDate, new { @class = "col-form-label" })
        </div>
        <div class="col-4">
            @Html.TextBoxFor(x => x.ReleaseDate, new { @class = "form-control" })
        </div>
        <div class="col-4">
            @Html.ValidationMessageFor(x => x.ReleaseDate, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group col-1 offset-6">
        <button type="submit" title="Save to database" class="btn btn-primary">Save</button>
    </div>
}

@section styles {

    <link href="~/Content/icons/font/bootstrap-icons.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-datepicker.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-datepicker.standalone.css" rel="stylesheet" />
}

@section scripts{
    <script src="~/Scripts/jquery-3.6.4.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="~/Scripts/bootstrap-datepicker.js"></script>
    <script>
        $("#ReleaseDate").datepicker({
            format: "yyyy-mm-dd"
        });
    </script>

}
