@model IEnumerable<Work_01.Models.Movies>
@{
    ViewBag.Title = "Index";
}

<div class="row align-items-center mb-2">
    <div class="col-3">Date: @DateTime.Now.ToString("dd/MM/yyyy")</div>
    <div class="col-6 text-center display-6">Movie List</div>
    <hr />
</div>
<div class="col-11 text-end mb-2" style="margin-left: 20px;">
    @Html.ActionLink("Add New", "Create", "Movies", null, new { @class = "btn btn-sm btn-success" })
</div>
<div class="container">
    <table class="table table-sm table-striped table-borderedless table-light">
        <thead class="table-success">
            <tr class="text-center">
                <th>@Html.DisplayNameFor(x => x.MovieId)</th>
                <th>@Html.DisplayNameFor(x => x.Title)</th>
                <th>@Html.DisplayNameFor(x => x.ReleaseDate)</th>
                <th>@Html.DisplayNameFor(x => x.ImdbRating)</th>
                <th>@Html.DisplayNameFor(x => x.RottenTomatoFreshness)</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var p in Model)
            {
                <tr class="text-center align-middle">
                    <td>@Html.DisplayFor(x => p.MovieId)</td>
                    <td>@Html.DisplayFor(x => p.Title)</td>
                    <td>@Html.DisplayFor(x => p.ReleaseDate)</td>
                    <td>@Html.DisplayFor(x => p.ImdbRating)</td>
                    <td>@Html.DisplayFor(x => p.RottenTomatoFreshness)</td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", "Movies", new { id = p.MovieId }, new { @class = "btn btn-sm btn-outline-light text-primary" })
                        @Html.ActionLink("Delete", "Delete", "Movies", new { id = p.MovieId }, new { @class = "btn btn-sm btn-outline-light text-danger" })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

